{% extends "header.html" %}

{% block title %}Demandas SEAD-GEINFRA{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title text-center">Índice de Rotas</h1>
                <ul class="list-group list-group-flush mt-4">
                    <li class="list-group-item text-center">
                        <a href="{{ url_for('consultar_demandas') }}" class="btn btn-link">Consultar Demandas</a>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ url_for('cadastro_demanda_form') }}" class="btn btn-link">Cadastrar Demandas</a>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ url_for('consultar_ordens_servico') }}" class="btn btn-link">Consultar Ordens de Serviço</a>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ url_for('criar_ordem_servico') }}" class="btn btn-link">Criar Ordem de Serviço</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
