{% for ordem in ordens_servico %}
                <tr>
                    <td>{{ ordem.ordem_servico_id }}</td>
                    <td>{{ ordem.unidade_nome }}</td>
                    <td>{{ ordem.data_criacao }}</td>
                    <td>{{ ordem.data_previsao }}</td>
                    <td>{{ ordem.observacoes }}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-primary button-visualizar" data-id="{{ ordem.ordem_servico_id }}">Visualizar</button>
                        <a href="{{ url_for('gerar_pdf', ordem_servico_id=ordem.ordem_servico_id) }}" class="btn btn-secondary">Download PDF</a>
                    </td>
                </tr>
                {% endfor %}